# IDE / Editor
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/
.env/
.venv/

# macOS
.DS_Store

#Test results
TestResults.xlsx

# Ignore HTML reports (pytest-html)
*.html

# Ignore entire results folder
test_results/